@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root {
    --black: hsl(220, 5%, 5%);
    --white: hsl(0, 0%, 95%);
    --green: hsl(165, 100%, 26%);
    --light-green: hsl(144, 51%, 62%);
    --purple: hsl(253, 41%, 56%);
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--black);
    color: var(--white);
}

header img, footer img {
    height: 1.5rem;
}

footer p {
    opacity: 0.5;
}

header, main, footer {
    max-width: 95rem;
    margin: auto;
    padding: 2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

main section::after {
    content: "";
    clear: both;
    display: table;
}

main section {
    padding-bottom: 5em;
}

#features {
    text-align: center;
}

#features ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#features ul li {
    display: inline-block;
    margin: 0 auto;
    max-width: 25rem;
}

#features img {
    max-width: 50%;
}

main img {
    max-width: 30rem;
}

@media only screen and (min-width: 30rem) {

    #features ul {
        flex-direction: row;
    }

    main, footer {
        padding: 5rem 2rem;;
    }

    header img, footer img {
        height: 2rem;
        margin-bottom: -0.5rem;
    }

    footer p {
        max-width: 40%;
    }
    
    h1 {
        font-size: 7rem;
    }
    
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    main section p {
        font-size: 1.5rem;
    }

    main section {
        padding-bottom: 10em;
    }

    main img {
        max-width: 20rem;
    }
}

@media only screen and (min-width: 65rem) { /* side-by-side images */
    #hero img {
        max-width: 50%;
        float: right;
        margin-top: -7rem;
    }

    #hero p {
        max-width: 50%;
        font-size: 2rem;
    }

    main img {
        max-width: 30%;
    }

    .sbs p {
        max-width: 50%;
        font-size: 1.5rem;
    }

    .left {
        text-align: right;
    }

    .left p {
        float: right;
    }

    .left img {
        float: left;
    }

    .right {
        text-align: left;
    }

    .right p {
        float: left;
    }

    .right img {
        float: right;
    }
}
